body {
    font-family: 'Nanum Gothic', sans-serif;
}

.jumbotron {
      margin-bottom: 0;
    }
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: black;
}

.nav.navbar-nav.navbar-center li a {
    color: black;
    font-weight: 600;
    font-size: 14pt;
}

.col-sm-3 p {
    font-size: 12pt;
    line-height: 1.8;
}