body {
    font-family: 'Nanum Gothic', sans-serif;
}

#bannerimg {
    height: 200px;
}

.jumbotron {
      margin-bottom: 0;
    }

nav {
    height: 50px;
    background-color: #ea6527;
    padding: 6px 0 6px 0;
}
      
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li {
    color: black;
    font-size: 24px;
    list-style: none;
}

nav ul li:hover {
    color: white;
    transition: 0.3s ease;
}

.col-sm-3 p {
    font-size: 12pt;
    line-height: 1.8;
}


#right {
    padding-left: 15px;
}

@media only screen and (max-width: 900px) {

    nav ul a li{
      font-size: 18px;
    }
  
  }