body {
    font-family: 'Nanum Gothic', sans-serif;
}

.jumbotron {
      margin-bottom: 0;
    }

nav {
    height: 50px;
    background-color: #ea6527;
}
      
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li {
    color: black;
    font-size: 22px;
    list-style: none;
    font-weight: 600;
}

nav ul li:hover {
    color: yellow;
    transition: 0.3s ease;
}

.col-sm-3 p {
    font-size: 12pt;
    line-height: 1.8;
}

#right {
    padding-left: 15px;
}